/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900'); */
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 300;
  src: local('Nexa'), url('https://fonts.cdnfonts.com/s/16221/NexaLight.woff') format('woff');
}

@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 700;
  src: local('Nexa'), url('https://fonts.cdnfonts.com/s/16221/NexaBold.woff') format('woff');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked+#menu {
     display: block;
}
@layer base{
  html {
    font-family: nexa, sans-serif;
  }
}
 .primary-gradient {
  @apply bg-gradient-to-r from-sky-500 to-indigo-500
 }
 .card {
    @apply rounded-xl shadow-lg
 }
 .btn-primary {
   @apply rounded-[100px] min-w-[150px] text-center primary-gradient text-white text-lg font-bold p-2 mt-5 inline-block
 }
 .outline-rounded{
  @apply inline-block p-2 px-3 text-xl uppercase border-2 border-primary-300 text-primary-300 rounded-xl
 }

 